.container {
  padding: 0 2rem;
}

.main {
  min-height: 88vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: Courier New
}

.headdiv {
  /* border: 3px solid #525151; */
  border: 3px solid #eaeaea;
  border-radius: 15px;
  padding: 1rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.descriptiondiv {
  width: 60vw;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
